<!DOCTYPE html>
<html>

<head>
    <title>Untitled Document</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body ng-app="">
    <div class="content">

        <label>Enter your name :
            <input type="text" name="name" ng-model="name" />
        </label>
        <div>
            Hello,
            <strong>{{name | uppercase}}</strong>
        </div>
        <br />

        <label>Enter your currency :
            <input type="text" name="name" ng-model="ucurrency" />
        </label>
        <div>
            Hello,
            <strong>{{ucurrency | currency}}</strong>
        </div>



        <div ng-repeat="user in users">
            <span>Name: </span>{{user.name}}
            <span>Age: </span>{{user.age}}
        </div>


    </div>
</body>


</html>